<ion-view view-title="Catégories">
	<ion-content>
		<div class="im-wrapper margin-top">
			<a class="category right item item-icon-left">
				<i class="icon ion-clipboard icons-categories"></i>Ordonnances
			</a>
			<a class="category left item item-icon-left">
				<i class="icon ion-medkit icons-categories"></i>Carnet de santé
			</a>
			<a class="category right item item-icon-left bottom-categories">
				<i class="icon ion-ios-body icons-categories"></i>Radiographies
			</a>
			<a class="category left item item-icon-left bottom-categories">
				<i class="icon ion-image icons-categories"></i>Scanners
			</a>
		</div>
	</ion-content>
</ion-view>
